<h1 mat-dialog-title>{{data.type}}</h1>

<div class="mt-3 container" *ngIf="data.type !== 'Register'">
    <form [formGroup]="logInForm">
        <div class="row">
            <mat-form-field class="col-12" appearance="outline" color="accent">
                <mat-label>Email</mat-label>
                <input matInput required [errorStateMatcher]="errorStateMatcher"
                       type="email" formControlName="email"
                       id="mail">
            </mat-form-field>
        </div>

        <div class="row">


            <mat-form-field class="col-12" appearance="outline"
                            color="accent">
                <mat-label>Password</mat-label>
                <input matInput required [errorStateMatcher]="errorStateMatcher"
                       type="password" formControlName="password"
                       id="pass">
            </mat-form-field>



        </div>

    </form>

</div>

<div class="mt-3 container" *ngIf="data.type === 'Register'">
    <form [formGroup]="register">
        <div class="row">
            <mat-form-field class="col-md-6" appearance="outline" color="accent">
                <mat-label>Email</mat-label>
                <input matInput required [errorStateMatcher]="errorStateMatcher"
                       type="email" formControlName="email"
                       id="email">
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline"
                            color="accent">
                <mat-label>Name</mat-label>
                <input matInput required [errorStateMatcher]="errorStateMatcher"
                       type="text" formControlName="name"
                       id="name">
            </mat-form-field>
        </div>

        <div class="row">


            <mat-form-field class="col-12" appearance="outline"
                            color="accent">
                <mat-label>Password</mat-label>
                <input matInput required [errorStateMatcher]="errorStateMatcher"
                       type="password" formControlName="password"
                       id="password">
            </mat-form-field>



        </div>

        <div class="row">
            <mat-form-field class="col-md-6" appearance="outline" color="accent">

                <mat-select placeholder="Faculty" required [errorStateMatcher]="errorStateMatcher"
                            formControlName="faculty"
                            id="faculty">
                    <mat-option *ngFor="let faculty of faculties" [value]="faculty.value">
                        {{faculty.name}}
                    </mat-option>
                </mat-select>

            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline"
                            color="accent">
                <mat-select placeholder="Department" required [errorStateMatcher]="errorStateMatcher"
                            formControlName="department"
                            id="department">
                    <mat-option *ngFor="let depart of departments" [value]="depart.value">
                        {{depart.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>


        <div class="row">

            <mat-form-field class="col-md-6" appearance="outline"
                            color="accent">
                <mat-select placeholder="Year" required [errorStateMatcher]="errorStateMatcher"
                            formControlName="year"
                            id="year">
                    <mat-option *ngFor="let year of year_groups" [value]="year.value">
                        {{year.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline"
                            color="accent">
                <!--<mat-label>Hostel</mat-label>-->
                <mat-select placeholder="Hostel" required [errorStateMatcher]="errorStateMatcher"
                            formControlName="hostel"
                            id="hostel">
                    <mat-option *ngFor="let hostel of hostels" [value]="hostel.value">
                        {{hostel.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </form>

</div>

<div mat-dialog-actions>
    <button mat-stroked-button *ngIf="data.type === 'Register'" [disabled]="register.invalid" color="accent" (click)="authenticate()">{{data.type}}</button>
    <button mat-stroked-button *ngIf="data.type !== 'Register'" [disabled]="logInForm.invalid" color="accent" (click)="authenticate()">{{data.type}}</button>
</div>