<mat-sidenav-container [autosize]="true" class="sidenav-container">

    <mat-sidenav class="sidenav toolbar-space" #drawer fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)">

        <!--<mat-nav-list>-->
        <!--<a routerLinkActive="selected" mat-list-item routerLink="dashboard">-->
        <!--<mat-icon mat-list-icon>dashboard</mat-icon>-->
        <!--<span [ngClass]="(collapsed | async)? 'showing':'hidden'"> Dashboard </span>-->
        <!--</a>-->

        <!--<a *ngFor="let link of navLinks"-->
        <!--routerLinkActive="selected" mat-list-item>-->
        <!--<button mat-icon-button [matMenuTriggerFor]="menu">-->
        <!--<mat-icon mat-list-icon>{{link.icon}}</mat-icon>-->
        <!--</button>-->
        <!--<span [ngClass]="(collapsed | async)? 'showing':'hidden'"> {{link.label}} </span>-->

        <!--<ng-container>-->
        <!--<mat-menu #menu="matMenu">-->
        <!--<ng-template matMenuContent>-->
        <!--<button *ngFor="let child of link.children" routerLink="{{child.url}}"-->
        <!--mat-menu-item>{{child.label}}-->
        <!--</button>-->
        <!--</ng-template>-->
        <!--</mat-menu>-->
        <!--</ng-container>-->
        <!--</a>-->


        <!--</mat-nav-list>-->

        <nav class="navbar position-sticky navbar-expand navbar-light bg-light footer">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button mat-icon-button (click)="collapseNav()">
                        <mat-icon [ngClass]="(collapsed | async)? 'showing':'hidden'">chevron_left
                        </mat-icon>
                        <mat-icon [ngClass]="!(collapsed | async)? 'showing':'hidden'">
                            chevron_right
                        </mat-icon>
                    </button>
                </li>
            </ul>

        </nav>
    </mat-sidenav>

    <mat-sidenav-content style="height: 100vh; overflow: hidden;">
        <mat-toolbar color="primary" class="mat-elevation-z2">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <!--<h2 class="mat-h2">{{currentRoute | async}}</h2>-->

            <div class="tool-bar-spacer"></div>

            <div [ngClass]="(isLoggedIn$ | async)? 'hidden':'showing'">
            <button mat-stroked-button color="accent" (click)="authUser('Register')">Register</button>
            <button mat-flat-button class="ml-2" color="accent" (click)="authUser('Log In')">Log In</button>
            </div>

            <div [ngClass]="(isLoggedIn$ | async)? 'showing':'hidden'">
                <button (click)="logOut()" mat-icon-button>
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>

        </mat-toolbar>
        <!-- Add Content Here -->

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>
