<mat-toolbar color="primary" [ngClass]="showElevation? 'mat-elevation-z1 fixed-top':'fixed-top'">
    Common Room
    <div class="tool-bar-spacer"></div>

</mat-toolbar>

<div class="toolbar-space">
    <router-outlet></router-outlet>
</div>>