/* You can add global styles to this file, and also import other style files */
@import "theme.css";
@import "bootstrap.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tool-bar-spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

.showing {
  display: block;
}

.toolbar-space {
  margin-top: 54px;
}

.round-corner .mat-dialog-container {
  border-radius: 20px;
}