@import "../node_modules/@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// dark #006111
// light #4fc16a
// primary #02903d

$umat-white: (
        50: #e8eaf6,
        100: #fff,
        200: #9fa8da,
        300: #7986cb,
        400: #5c6bc0,
        500: #fff,
        600: #3949ab,
        700: #e3e3e4,
        800: #283593,
        900: #1a237e,
        A100: #4fc16a,
        A200: #02903d,
        A400: #006111,
        A700: #304ffe,
        contrast: (
                50: $light-primary-text,
                100: $light-primary-text,
                200: $light-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $dark-primary-text,
                700: $dark-primary-text,
                800: $dark-primary-text,
                900: $dark-primary-text,
                A100: $light-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $dark-primary-text,
        )
);
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($umat-white);
$candy-app-accent: mat-palette($umat-white, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
